img 
  -webkit-user-drag: none; /* Safari */
  -khtml-user-drag: none; /* Konqueror HTML */
  -moz-user-drag: none; /* Firefox */
  -o-user-drag: none; /* Opera */
  user-drag: none; /* Generic */

.logo 
    font-size: 3em;
    font-weight: bolder;
    color: text-color;
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
